@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-color: smooth;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --bg-color: #0b1224;
  --light-color: #f5f5f5;
  --dark-color: #000000;
  --text-color: #19f4ff;
}

::-webkit-scrollbar {
  width: 0.50rem;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  height: 50px;
  color: var(--text-color);
}

// =================exdent=================
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.bg {
  background-color: var(--bg-color);
}

// =============== Navbar-Start ===============
.navbar {
  z-index: 100;
  border-bottom: 2px solid var(--light-color);
  box-shadow: 0px 0px 5rem var(--text-color);
  position: sticky;
  background-color: var(--bg-color);

  & .logo {
    font-weight: 600;
    font-size: 1.9rem;
  }

  .nav-item {
    padding: 0 0.4rem 0 0.4rem;

    & .nav-link {
      color: var(--light-color);
      font-size: 1rem;
      font-weight: 600;
      position: relative;

    }

    & span {
      color: var(--text-color);

    }

  }

  & button {
    font-weight: 600;
    border: 2px solid var(--text-color);
    box-shadow: 0px 0px 6px 1px var(--text-color);
    color: var(--light-color);

    &:hover {
      border: 2px solid var(--text-color);
      color: var(--dark-color);
      background-color: var(--text-color);
      transition: all 0.5s;
    }
  }
}

.navbar .nav-link {

  &:hover::after {
    width: 100%;
    transition: 0.50s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    margin-top: 2rem;
    background-color: var(--text-color);
  }

}

.navbar .nav-link.active {
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px var(--text-color);

  & span {
    color: white;
  }

}

// =============== Navbar-End =================

// =============== Home-section-Start =================
.home-sec {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .home-sec-heading {
    @extend %flex-center;

    & .header-img {
      z-index: -1;
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      border: 3px solid var(--text-color);
      box-shadow: 2px -2px 25px 2px #19f4ff;

      & img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .header-heading {

    & span {
      color: var(--light-color);
    }

    & .type-anim {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & h2 {
      color: var(--light-color);
      text-align: center;
      font-weight: 800px;
    }

    & h1 {
      font-weight: 700;
      text-align: center;
    }

    & .txt-anim {
      color: var(--text-color);
    }
  }

  & p {
    text-align: center;
    color: var(--light-color);
    word-wrap: break-word;
    line-height: 2rem;
    font-size: large;
    font-weight: 600;
    word-spacing: 2px;
  }

}

.socail-icon {
  margin-top: 2rem;

  & .list {
    @extend %flex-center;
  }

  & ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    color: var(--light-color);

    & li {
      margin: 0 0.7rem 0 0.7rem;

      & a {
        box-shadow: 0px 0px 6px 1px var(--text-color);
        border-radius: 5px;
        border: 1px solid var(--text-color);
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.1rem;
        text-decoration: none;
        color: var(--light-color);
        @extend %flex-center;

        &:hover {
          color: var(--dark-color);
          background-color: var(--text-color);
        }
      }

    }
  }
}

.home-page-shadow {
  height: 10px;
  width: 100%;
  background-color: transparent;
  box-shadow: 2px -2px 25px 2px #19f4ff;
}



// =============== Home-section-End ===================

// =============== About-section-Start ===================


.about-sec {
  margin-top: 5rem;

  & .about-sec-heading {
    position: relative;

    & .bg-heading {
      margin-top: -0.19em;
      color: var(--light-color);
      position: absolute;
      @extend %flex-center;
      height: 100%;
      width: 100%;
      font-size: 7rem;
      opacity: 3%;
      letter-spacing: 0px;
    }

    & h1 {
      letter-spacing: 0.1rem;
      color: var(--light-color);
      @extend %flex-center;
      font-weight: 700;
      flex-direction: column;
      pointer-events: none;
      position: relative;

    }
  }
}

.info-sec {
  margin-top: 8rem;


  & .about-sec-img {
    border: 3px solid var(--text-color);
    box-shadow: 2px -2px 25px 2px #19f4ff;
    height: 60vh;
    width: 100%;

    & img {
      height: 100%;
      width: 100%;
    }

  }
}

.resume {

  & h4 {
    color: var(--light-color);
    font-weight: 600;
    font-size: large;

    & span {
      color: var(--text-color);
      font-size: x-large;
    }
  }

  & ul {
    & span {
      margin-left: 6px;
      color: var(--light-color);
      font-family: 600;
    }

    & li {
      position: relative;
      color: var(--text-color);
      font-size: 1rem;
      line-height: 3.5rem;
    }


    & button {
      font-weight: 600;
      border: 2px solid var(--text-color);
      color: var(--dark-color);
      box-shadow: 0px 0px 6px 1px var(--text-color);
      background-color: var(--text-color);

      &:hover {
        background-color: var(--text-color);
      }
    }

  }
}


// =============== About-section-End =====================

// =============== Contact-section-End =====================
.contact-sec {
  margin-top: 6rem;


  &.contact-sec-heading {
    margin-top: 18vh;
    height: 100vh;
  }
}

.contact-heading {
  & h4 {
    color: var(--light-color);
    letter-spacing: 0.01rem;
  }

  & p {
    color: rgb(221, 216, 216);
    line-height: 1.5rem;
    word-break: break-all;
  }

  & .underline {
    border: 2px solid var(--light-color);
    width: 25%;
    height: 0rem;
    box-shadow: 0px 0px 6px 3px var(--text-color);

  }
}

.contact-section {
  margin-top: 5.5rem;
  height: 36.50rem;

}

.contact-info {
  background-color: #2bf4ff0f;
  height: 20vh;
  width: 100%;
  align-items: center;
  border: 2px solid #ffffff;
  display: flex;
  line-height: 0.90rem;
  box-shadow: 0px 0px 6px 3px var(--text-color);

  & .contact-sec-txt {
    align-items: center;


    & h5 {
      color: white;
    }

    & p {
      & a {
        text-decoration: none;
        color: #ddd7d7;
        font-size: 16px;
      }
    }

    & .email {
      font-size: 15px;
    }
  }

}

.contact-info-icon {

  height: 64px;
  width: 64px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #19f3ff34;
  box-shadow: 0px 0px 6px 3px var(--text-color);

  & span {
    & i {
      color: var(--text-color);
      font-size: 1.5rem;
      @extend %flex-center;
      height: 100%;
      width: 100%;
    }
  }

}

// =============form-start=============
.contact-form {
  border: 2px solid var(--light-color);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 3px var(--text-color);
  background-color: #2bf4ff0f;

  & .form {
    & .form-control:focus {
      border-color: var(--text-color);
      box-shadow: none;
      background-color: transparent;
    }

    & input {
      padding: 8px 8px 8px 6px;
      color: white;
    }

    & input,
    textarea {
      background-color: transparent;
      border: 2px solid white;
      // box-shadow: 0px 0px 6px 3px var(--text-color);
      color: var(--light-color);
    }

    & label {
      color: var(--light-color);
      font-weight: 600;
    }

    & ::placeholder {
      color: #e8e3e3aa;
    }

    .btn {
      font-weight: 600;
      border: 2px solid var(--text-color);
      color: var(--dark-color);
      box-shadow: 0px 0px 6px 1px var(--text-color);
      background-color: var(--text-color);
      padding: 4px 14px 4px 14px;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover {
        border: 2px solid var(--text-color);

      }
    }
  }

}

// =============== Contact-section-End =====================

// =============== Skills-Sec-Start =====================
.skills-card {
  position: relative;

}

.skill-card1 {
  position: relative;
  box-shadow: 0px 0px 6px 3px var(--text-color);
  border: 2px solid var(--light-color);
  width: 100%;
  height: 38vh;

  & h5 {
    color: var(--light-color);
    font-weight: 600;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    margin-top: -0.6rem;
  }

  & svg {
    position: absolute;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & circle {
      fill: transparent;
      stroke: var(--text-color);
      stroke-width: 12;
      stroke-dasharray: 500;
      stroke-dashoffset: 200;
      stroke-linecap: round;
    }

    .circle-1 {
      stroke: #06ef06;
    }

    .circle-2 {
      stroke: #ffab0e;
    }

    .circle-3 {
      stroke: blue;
    }

    .circle-4 {
      stroke: red;
    }
  }

  & .counter p {
    color: var(--light-color);
    font-size: 2rem;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & span {
      font-size: 1.2rem;
    }

  }
}

.progress-bar-sec {
  & h5 {
    color: var(--light-color);

    & span {
      color: var(--text-color);
    }
  }

  & .progress {
    background-color: #2bf4ff0f;
    height: 0.80rem;

    & .progress-bar {
      background-color: var(--text-color);
    }
  }
}


// =============== Skills-Sec-End =======================

// =============== Footer-Start  =====================

footer {
  box-shadow: 0px 0px 5rem var(--text-color);
  height: 13vh;
  width: 100%;

  .footer-icon {
    border-top: 1px solid white;
    @extend %flex-center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .socail-icon {
      & ul {
        display: flex;
      }
    }
  }

  & p {
    color: #d3cbcb;
    margin-top: 4vh;

    & span {
      color: #e8e3e3;

    }
  }
}

// =============== Footer-End =====================
// =============== media-quary-Start ===================
@media (max-width:600px) and (min-width:400px) {

  .about-sec {

    & .about-sec-heading {

      & .bg-heading {
        font-size: 5rem;
        letter-spacing: 0px;
      }
    }

  }
}

@media (max-width:400px) and (min-width:310px) {

  .about-sec {

    & .about-sec-heading {

      & .bg-heading {
        font-size: 4rem;
        letter-spacing: 0px;
      }
    }

  }
}

@media (max-width:310px) and (min-width:0px) {

  .about-sec {

    & .about-sec-heading {

      & .bg-heading {
        font-size: 3rem;
        letter-spacing: 0px;
      }
    }

  }
}


@media (max-width:440px) and (min-width:20px) {

  .header-heading {

    & .type-anim {
      flex-direction: column;
    }
  }

  .resume {
    & h4 {
      margin-top: 2rem;
    }

    & ul {

      & li {
        font-size: 0.90rem;
        line-height: 3rem;
      }

      & button {
        margin-top: 1rem;
        font-size: small;
      }
    }
  }

  .home-sec {
    .home-sec-heading {
      & .header-img {
        width: 10rem;
        height: 10rem;

      }
    }

  }

  .header-heading {
    & p {
      font-size: medium;
      line-height: 1.5rem;
    }
  }

}
@media (max-width:400px) and (min-width:0px) {
  .resume {
    & h4 {
      color: var(--light-color);
      font-weight: 600;
      font-size: 1rem;
      & span{
       font-size: 1.3rem;
      }
    }
    & ul {

      & li {
        font-size: 0.80rem;
        line-height: 2.5rem;
      & .email_res{
        line-height: 2px;
        
      }
      }

      & button {
        margin-top: 1rem;
        font-size: small;
      }
    }
  }

}
@media (max-width:340px) and (min-width:0px) {
  .home-sec {
    .home-sec-heading {

      & .header-img {
        width: 10rem;
        height: 10rem;

      }
    }

  }

  .header-heading {
    & p {
      margin-top: 1rem;
      font-size: small;
      line-height: 1.2rem;
    }
    & h2{
      font-size: 1rem;
     }
     & h1{
      font-size: 1.4rem;
     }
  }
  
.socail-icon {
  & ul {

    & li {
      margin: 0 0.4rem 0 0.4em;
    }
  }
}   
}
@media (max-width:290px) and (min-width:0px) {
  .header-heading {
    & p {
      margin-top: 0.50rem;
      font-size: 12px;
      line-height: 1.1rem;
    }
    & h2{
      font-size: 0.80rem;
     }
     & h1{
      font-size: 1.2rem;
     }
  }
  
}

// =============== media-quary-Start ===================